<html lang="en">
<head>
     <link rel="stylesheet" href="/static/net.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="image1">
            <div class="imglogo"></div>
            <div class="form">
                <form method="post">
                {% csrf_token %}
                <div class="sig" id="sig1">Sign In</div>
                <input type="email" name='num3' class="email2" placeholder="Email or Phone number">
                <input type="password" name="num4" class="pass3" placeholder="Password">
                <button type="submit" class="sub1">Sign In</button><br>
                <div class="warning">
                {% if error %}
                Enter email !               
                {% endif %}
                </div>
               <div class="remember"> <input type="checkbox" id="check"> Remember me</div>
               <div class="new1" id="new2">New to Netflix?</div>
               <div class="new1" id="new3">Sign up now.</div>
               <div class="pro">This page is protected by Google reCAPTCHA to ensure you're not a bot.</div>
                </form>

        </div>
        </div>
    </div>
</body>
</html>