<html lang="en">
<head>
     <link rel="stylesheet" href="/static/net.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/thank.css">
</head>
    <div class="page">
        <div class="image"> <div class="box">
           <div class=sign> You are signed in !</div>
           <a href="/home/"> <button type="submit" class="sub">Go to Netflix</button></a>
        </div>
    </div>
       
</body>
</html>